.taux-jour {
  background: linear-gradient(
    -45deg,
    var(--nomade-accent) 0%,
    var(--nomade-text) 100%
  );
  background-clip: text;
  -webkit-background-clip: text; /* Safari */
  color: transparent;
  padding: 0.5em;
  border-radius: 5px;
  border: solid 1px var(--nomade-border);
  text-align: center;
  margin: 0.5em;
  max-width: 300px;
  backdrop-filter: blur(3em);
  -webkit-backdrop-filter: blur(3em);
  -moz-backdrop-filter: blur(3em);
  -ms-backdrop-filter: blur(3em);
  -o-backdrop-filter:blur(3em);
  background-color: var(--nomade-primary-light);
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: var(--nomade-primary);
  }
}
