
.theme-switcher{
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  padding: 0.7em;
  align-items: center;
  cursor: pointer;
  background: none;
  color: var(--nomade-primary);
  border: solid 1px var(--nomade-border);
  border-radius: 5px;
}