#swap-summary {
  text-align: start;
  align-items: center;
  transition: all 0.3s ease-in-out;

  h3 {
    place-content: center;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: var(--nomade-conversion-text);
  }

  .amount-error {
    color: var(--nomade-conversion-error);
    display: flex;
    font-size: 0.7em;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    padding: 0.3em;
    margin-top: 0.5em;
    border-radius: 3px;
    border: solid 1px var(--nomade-conversion-error);
  }

  .summary-error {
    color: var(--nomade-border);
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
    border: solid 1px var(--nomade-border);
  }
  

  .swap-steps {
    text-transform: uppercase;
    display: flex;
    justify-content: start;
  }

  span {
    color: var(--nomade-conversion-secondary);
    text-transform: uppercase;
    font-weight: bold;
  }

  .total {
    color: var(--nomade-conversion-secondary);
  }

  .fees-total-group{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    p{
      color: var(--nomade-conversion-error);
    }
}
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    .summary {
      border: solid 1px var(--nomade-border);
      display: flex;
      justify-content: center;
      text-align: center;
      border-radius: 5px;
      padding: 1em;
    }

    h3 {
      display: flex;
      place-content: center;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 1em;
      font-weight: bold;
      color: var(--nomade-conversion-text);
    }

    .fees-total-group{
        display: flex;
        margin-top: 0.5em;
        font-size: 0.9em;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .swap-steps {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
    .fees-total-group{
        display: flex;
        gap: 0;
        padding: 1em;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        border: solid 1px var(--nomade-border);
    }
  }
}

