.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  place-items: center;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--nomade-primary);
  color: var(--nomade-background);
  &:hover {
    background-color: var(--nomade-accent);
    color: var(--nomade-colorc);
    transition: all 0.1s ease-out;
  }
  
  .button-icon {
    // ajoute de l'espace à droite lorsque l'icône est à gauche
    &:not(.right) {
      margin-right: 0.3rem;
    }
    // ajoute de l'espace à gauche lorsque l'icône est à droite
    &.right {
      margin-left: 0.3rem;
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid var(--nomade-text);
    color: var(--nomade-text);
    &:hover {
      background-color: var(--nomade-text);
      color: var(--nomade-background);
      transition: all 0.1s ease-out;
    }
  }
}

.theme-switcher{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  color: var(--nomade-primary);
  border: solid 1px var(--nomade-border);
  border-radius: 5px;
}