#main-footer {
  bottom: 0;
  z-index: 1;
  width: 100vw;
  display: flex;
  padding: 0.5em;
  font-size: 1rem;
  position: sticky;
  align-items: center;
  background-color: $bleu-nomade;
  justify-content: space-between;
  
  .footer-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0.5em;
    list-style: none;
    text-align: center;
    justify-content: start;
    white-space: nowrap;
  }

  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    padding: 0.5em;
    white-space: nowrap;
    a{
      color: $blanc-nomade;
      &:hover {
        scale: 1.2;
        transition: all 0.2s ease-out;
      }
    }
  }

  .footer-links {
    color: $blanc-nomade;
    text-decoration: none;
    padding: 0.5em;
    font-size: 1rem;
  }

  .footer-links:hover {
    text-decoration: underline;
    transition: opacity 0.2s ease-out;
  }
}


@media screen and (max-width: 820px) {
  #main-footer  {
    padding-top: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    position: relative;

    .footer-menu {
      display: contents;
    }

    .footer-icon {
      justify-self: center;
    }
  }
}
