@import '../variables/colors';

:root {
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  color: $bleu-nomade;
  background-color: $blanc-nomade;
  ::-webkit-scrollbar,
  -moz-scrollbar,
  -ms-scrollbar {
    display: none;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::before,
::after {
  text-decoration: none;
}
a{
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: $blanc-nomade;
    background-color: #123463;
  }
}