*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-synthesis: none;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  ::-webkit-scrollbar,
  -moz-scrollbar,
  -ms-scrollbar {
    display: none;
  }
}

body {
  background: var(--nomade-background);
  color: var(--nomade-text);
  transition: all 0.3s ease-in-out;

  visibility: hidden;
  a {
    text-decoration: none;
    color: inherit;
  }
}

body.theme-loaded {
  visibility: visible;
}